$discordBackground: #7289da;
$facebookBackground: #4267b2;
$instagramBackground: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
$linkedinBackground: #0077b5;
$telegramBackground: #229ed9;
$twitchBackground: #6441a5;
$twitterBackground: #00acee;
